.button {
    margin: 12px;
}

.all-style {
    font-size: medium;
    width: 600px;
}

.without_ampm::-webkit-datetime-edit-ampm-field {
    display: none;
}

#clickableAwesomeFont {
    cursor: pointer
}

.mat-option {
    margin: 1rem 0;
    overflow: visible;
    line-height: initial;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  .mat-option i {
    display: block;
    font-size: 1.5rem;
    opacity: 0.6;
    margin-left: 0.5rem;
  }

  .time-input-container {
    display: flex;
  }
  
  .time-input-element {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
    text-align: center;
  }
  
  .time-input-spacer {
    opacity: 0;
    transition: opacity 200ms;
  }
  
  :host.example-floating .time-input-spacer {
    opacity: 1;
  }