<div>
    <!-- <mat-dialog-content>
        <div>{{ data.content }}</div>
    </mat-dialog-content> -->

    <!-- <div>
        <mat-form-field dir="rtl" style="width: 95%;">
            <input type="text" placeholder="محصولات" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.Name">
                    {{option.Name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div> -->

    <mat-dialog-content>
        <div>
            <mat-form-field dir="rtl" class="all-style">
                <mat-label style="color: deeppink;font-weight: bold;">ماهیت</mat-label>
                <input type="text" matInput [formControl]="modalityControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredModalityOptions | async" [value]="option.Name">
                        {{option.Name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    
        <div>
            <mat-form-field dir="rtl" class="all-style">
                <mat-label style="color: deeppink;font-weight: bold;">مشتری</mat-label>
                <input type="text" matInput [formControl]="customerControl" [matAutocomplete]="auto1">
                <mat-autocomplete #auto1="matAutocomplete">
                    <mat-option *ngFor="let option of filteredCustomerOptions | async" [value]="option.Name">
                        {{option.Name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    
        <div>
            <mat-form-field dir="rtl" class="all-style">
                <mat-label style="color: deeppink;font-weight: bold;">پروژه</mat-label>
                <input type="text" matInput [formControl]="projectControl" [matAutocomplete]="auto2">
                <mat-autocomplete #auto2="matAutocomplete">
                    <mat-option *ngFor="let option of filteredProjectOptions | async" [value]="option.Name">
                        {{option.Name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    
        <div>
            <mat-form-field dir="rtl" class="all-style">
                <mat-label style="color: deeppink;font-weight: bold;">فاز</mat-label>
                <input type="text" matInput [formControl]="phaseControl" [matAutocomplete]="auto3">
                <mat-autocomplete #auto3="matAutocomplete">
                    <mat-option *ngFor="let option of filteredPhaseOptions | async" [value]="option.Name">
                        {{option.Name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    
        <div>
            <mat-form-field dir="rtl" class="all-style">
                <mat-label style="color: deeppink;font-weight: bold;">زیر فاز</mat-label>
                <input type="text" matInput [formControl]="subphaseControl" [matAutocomplete]="auto4">
                <mat-autocomplete #auto4="matAutocomplete">
                    <mat-option *ngFor="let option of filteredSubphaseOptions | async" [value]="option.Name">
                        {{option.Name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        
        <div dir="rtl" class="all-style">
            <mat-form-field class="all-style">
                <mat-label style="color: deeppink;font-weight: bold;">تاریخ</mat-label>
                <input matInput [matDatepicker]="picker" [value]="date.value" [(ngModel)]="selectedDate" name="datePickerInput" disabled>
                <mat-datepicker-toggle matSuffix [for]="picker" style="color: deeppink;"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
            </mat-form-field>
        </div>
    
        <div>
            <mat-form-field class="all-style">
                <mat-label style="color: deeppink;font-weight: bold;">زمان</mat-label>
                <input type="text" matInput [formControl]="timeControl" type="time" style="text-align: left;">
            </mat-form-field>
        </div>
    
        <div>
            <mat-form-field dir="rtl" class="all-style">
                <mat-label style="color: deeppink;font-weight: bold;">محل انجام</mat-label>
                <input type="text" matInput [formControl]="placeControl" [matAutocomplete]="auto5">
                <mat-autocomplete #auto5="matAutocomplete">
                    <mat-option *ngFor="let option of filteredPlaceOptions | async" [value]="option.Name">
                        {{option.Name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    
        <div>
            <mat-form-field dir="rtl" class="all-style">
                <mat-label style="color: deeppink;font-weight: bold;">توضیحات</mat-label>
                <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="2">
                </textarea>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div style="margin: auto;">
            <button type="button" class="btn btn-success button">ذخیره</button>
            <button type="button" class="btn btn-primary button">ذخیره و ادامه</button>
        </div>
    </mat-dialog-actions>
</div>