.button {
    margin: 12px;
}

.all-style {
    font-size: medium;
    width: 600px;
}

.without_ampm::-webkit-datetime-edit-ampm-field {
    display: none;
}

#clickableAwesomeFont {
    cursor: pointer
}