<div style="margin-top: -20px;float: left;margin-left: -15px;">
    <span id='clickableXMark' (click)="onXMarkClick()">&#10006;</span>
</div>

<div style="display: flex;flex-direction: column;height: 100%;">

    <div style="height: 90%;overflow: scroll;">
        <div style="width: 100%;">
            <mat-form-field dir="rtl" style="width: 100%;font-size: medium;">
                <mat-label style="color: deeppink;font-weight: bold;">ماهیت</mat-label>
                <mat-select [(value)]="createDialogService.selectedModality">
                    <mat-option value="0">در دست بررسی استقرار</mat-option>
                    <mat-option value="1">در دست بررسی پشتیبانی</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        <div style="width: 100%;">
            <mat-form-field dir="rtl" style="width: 100%;font-size: medium;">
                <mat-label style="color: deeppink;font-weight: bold;">مشتری</mat-label>
                <input type="text" matInput [formControl]="accountControl" [matAutocomplete]="auto1" required title="" [errorStateMatcher]="matcher">
                <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onAccountSelectProjectSearch($event.option.value)">
                    <mat-option *ngFor="let option of filteredAccountOptions | async" [value]="option.Name">
                        {{option.Name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        
        <div style="width: 100%;">
            <mat-form-field dir="rtl" style="width: 100%;font-size: medium;">
                <mat-label style="color: deeppink;font-weight: bold;">پروژه</mat-label>
                <input type="text" matInput [formControl]="projectControl" [matAutocomplete]="auto2" required title="" [errorStateMatcher]="matcher">
                <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="onProjectSelectPhaseSearch($event.option.value)">
                    <mat-option *ngFor="let option of filteredProjectOptions | async" [value]="option.Name">
                        {{option.Name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        
        <div style="width: 100%;">
            <mat-form-field dir="rtl" style="width: 100%;font-size: medium;">
                <mat-label style="color: deeppink;font-weight: bold;">فاز</mat-label>
                <input type="text" matInput [formControl]="phaseControl" [matAutocomplete]="auto3" required title="" [errorStateMatcher]="matcher">
                <mat-autocomplete #auto3="matAutocomplete" (optionSelected)="onPhaseSelectSubphaseSearch($event.option.value)">
                    <mat-option *ngFor="let option of filteredPhaseOptions | async" [value]="option.Name">
                        {{option.Name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        
        <div style="width: 100%;">
            <mat-form-field dir="rtl" style="width: 100%;font-size: medium;">
                <mat-label style="color: deeppink;font-weight: bold;">زیر فاز</mat-label>
                <input type="text" matInput [formControl]="subphaseControl" [matAutocomplete]="auto4" required title="" [errorStateMatcher]="matcher">
                <mat-autocomplete #auto4="matAutocomplete">
                    <mat-option *ngFor="let option of filteredSubphaseOptions | async" [value]="option.Name">
                        {{option.Name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        
        <div dir="rtl" style="width: 100%;">
            <mat-form-field style="width: 100%;font-size: medium;">
                <mat-label style="color: deeppink;font-weight: bold;">تاریخ</mat-label>
                <input matInput [matDatepicker]="picker" [value]="dateControl.value" [(ngModel)]="this.selectedDate" name="datePickerInput" required [errorStateMatcher]="matcher">
                <mat-datepicker-toggle matSuffix [for]="picker" style="color: deeppink;"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
            </mat-form-field>
        </div>
        
        <div style="width: 100%;display: flex;flex-direction: row-reverse;">
            <div style="width: 100%;">
                <mat-form-field style="font-size: medium;width: 100%;">
                    <mat-label style="color: deeppink;font-weight: bold;">زمان</mat-label>
                    <input matInput [formControl]="timeControl" type="text" [textMask]="mask" [(ngModel)]="this.createDialogService.taskTime" required [errorStateMatcher]="matcher" (change)="onTimeValueChange()"> 
                </mat-form-field>
            </div>
        
            <div style="margin-top: 38px;margin-right: 5px;">
                <span>
                    <i id='clickableAwesomeFont' class="fa fa-clock-o fa-lg" style="color: deeppink;float: left; cursor: pointer;" (click)="onTimeIconClick()"></i>
                </span>
            </div>
        </div>
        <div style="width: 100%;display: inline-flex;flex-direction: row-reverse;flex-wrap: wrap;">
            <div style="width: 100%">
                <mat-form-field dir="rtl" style="width: 100%;font-size: medium;">
                    <mat-label style="color: deeppink;font-weight: bold;">محل انجام</mat-label>
                    <mat-select [(value)]="createDialogService.selectedPlace">
                        <mat-option value=0>کسرا</mat-option>
                        <mat-option value=1>محل مشتری</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        
        <div style="width: 100%;">
            <div style="width: 100%;float: right;">
                <mat-form-field dir="rtl" style="width: 100%;font-size: medium;">
                    <mat-label style="color: deeppink;font-weight: bold;">قدم بعدی</mat-label>
                    <mat-select [(value)]="createDialogService.nextStep">
                        <mat-option value=0>تعلیق پروژه</mat-option>
                        <mat-option value=1>ادامه کار</mat-option>
                        <mat-option value=2>بستن زیرفاز</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        
        <div style="width: 100%;">
            <mat-form-field dir="rtl" style="width: 100%;font-size: medium;">
                <mat-label style="color: deeppink;font-weight: bold;">توضیحات</mat-label>
                <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="2" [formControl]="descriptionControl"
                    required title="" [errorStateMatcher]="matcher">
                </textarea>
            </mat-form-field>
        </div>
        <div class="table-responsive">
            <kendo-grid 
            [data]="kendoSource"
            [resizable]="true"
            [pageSize]="pageSize"
            [pageable]="true"
            (pageChange)="pageChange($event)"
            [skip]="skip"
            [sortable]="{
                allowUnsort: allowUnsort,
                mode: multiple ? 'multiple' : 'single'
            }"
            [sort]="sort"
            (sortChange)="sortChange($event)"
            [style]="{'font-size': 'medium','min-width': '100%'}"
            >
                <kendo-grid-column
                  field="ListName"
                  title="نام لیست"
                  [headerStyle]="{'font-weight': 'bold','font-size': 'medium'}"
                  [style]="{'font-size': 'medium'}"
                  [width]="250"
                  >
                </kendo-grid-column>
            
                <kendo-grid-column
                  field="SubListName"
                  title="نام زیرلیست"
                  [headerStyle]="{'font-weight': 'bold','font-size': 'medium'}"
                  [style]="{'font-size': 'medium'}"
                  [width]="450"
                  >
                </kendo-grid-column>
                <ng-template kendoGridNoRecordsTemplate>
                    هیچ داده ای یافت نشد !
                 </ng-template>
            </kendo-grid>
        </div>
    </div>

    <div style="margin-top: auto;">
    
        <mat-dialog-actions>
            <div style="margin: auto;width: 100%;" class="alert alert-danger" *ngIf="error">
                <p style="font-size: medium;text-align: center;"><strong>{{ error }}</strong></p>
            </div>
            <div style="margin: auto;text-align: center;">
                <button type="button" class="btn btn-success button" (click)="onSaveBtnClick()">ذخیره</button>
                <button type="button" class="btn btn-primary button" (click)="onSaveAndContinueBtnClick()">ذخیره و ادامه</button>
            </div>
        </mat-dialog-actions>
    </div>
</div>