.logo{
    margin-top: 3px;
    width: 134px;
    height: 47px;
    position: absolute;
    left: 0;
}

.fullnameParagraph {
    font-weight: bold;
    font-size: large;
}

.table {
    table-layout:fixed;
}