<div class="toolbar" role="banner">
  <img class="logo" src="../assets/logos/logokasra.png" alt="شرکت مهندسی کسرا"
    itemprop="image" title="logokasra">
  <div class="spacer"></div>
</div>
<br/>

<div style="display: flex;flex-direction: row-reverse;flex-wrap: wrap;">

  <div style="padding-top: 30px;">
    <label>  : {{ getFullname() }}</label>
  </div>

  <div dir="rtl">
    <mat-form-field style="padding-right: 12px;font-size: medium;">
      <input matInput [matDatepicker]="picker" [value]="date.value" [(ngModel)]="this.tasksShowService.selectedDate" (dateChange)="onDateChange()" name="datePickerInput"  style="font-weight: bold;">
      <!-- <mat-hint align="end" style="color:deeppink;margin-left: 8px;font-size: medium;">تقویم ^</mat-hint> -->
      <mat-datepicker-toggle matSuffix [for]="picker" style="color: deeppink;"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
    </mat-form-field>
  </div>

  <div style="margin-right: auto; padding-top: 30px; padding-left: 5px;">
    <label>زمان کل :  {{totalTime.hours}}:{{totalTime.minutes}}</label>
  </div>

</div>

<div style="display: flex;flex-wrap: wrap;">
  <div dir="rtl">
    <button type="button" class="btn btn-success table-buttons" (click)="onCreateBtnClick()">ایجاد</button>
  </div>
</div>

<div class="table-responsive">

  <kendo-grid 
    [data]="kendoSource"
    [resizable]="true"
    [pageSize]="pageSize"
    [pageable]="true"
    (pageChange)="pageChange($event)"
    [skip]="skip"
    [sortable]="{
      allowUnsort: allowUnsort,
      mode: multiple ? 'multiple' : 'single'
      }"
    [sort]="sort"
    (sortChange)="sortChange($event)"
    [style]="{'font-size': 'medium','min-width': '100%'}"
    >
    <kendo-grid-column
      field="Owner"
      title="مالک"
      [headerStyle]="{'font-weight': 'bold','font-size': 'medium'}"
      [style]="{'font-size': 'medium'}"
      [width]="80"
    >
    </kendo-grid-column>

    <kendo-grid-column
      field="Customer"
      title="مشتری"
      [headerStyle]="{'font-weight': 'bold','font-size': 'medium'}"
      [style]="{'font-size': 'medium'}"
      [width]="150"
      >
    </kendo-grid-column>

    <kendo-grid-column
      field="Project"
      title="پروژه"
      [headerStyle]="{'font-weight': 'bold','font-size': 'medium'}"
      [style]="{'font-size': 'medium'}"
      [width]="200"
      >
    </kendo-grid-column>

    <kendo-grid-column
      field="Phase"
      title="فاز"
      [headerStyle]="{'font-weight': 'bold','font-size': 'medium'}"
      [style]="{'font-size': 'medium'}"
      [width]="200"
      >
    </kendo-grid-column>

    <kendo-grid-column
      field="SubPhase"
      title="زیرفاز"
      [headerStyle]="{'font-weight': 'bold','font-size': 'medium'}"
      [style]="{'font-size': 'medium'}"
      [width]="250"
      >
    </kendo-grid-column>

    <kendo-grid-column
      field="ActivitesDate"
      title="تاریخ"
      [headerStyle]="{'font-weight': 'bold','font-size': 'medium'}"
      [style]="{'font-size': 'medium'}"
      [width]="100"
      >
    </kendo-grid-column>

    <kendo-grid-column
      field="ActivitesTime"
      title="زمان"
      [headerStyle]="{'font-weight': 'bold','font-size': 'medium'}"
      [style]="{'font-size': 'medium'}"
      [width]="80"
      >
    </kendo-grid-column>

    <kendo-grid-column
      field="PlaceOfAction"
      title="محل"
      [headerStyle]="{'font-weight': 'bold','font-size': 'medium'}"
      [style]="{'font-size': 'medium'}"
      [width]="100"
      >
    </kendo-grid-column>

    <kendo-grid-column
      field="Description"
      title="توضیحات"
      [headerStyle]="{'font-weight': 'bold','font-size': 'medium'}"
      [style]="{'font-size': 'medium'}"
      [width]="150"   
      >
    </kendo-grid-column>
    <ng-template kendoGridNoRecordsTemplate>
      هیچ داده ای یافت نشد !
   </ng-template>
  </kendo-grid>
</div>