<div>
    <!-- <mat-dialog-content> -->
    <p style="font-weight: bold;font-size: medium;">
        {{ data.content }}
    </p>
    <!-- </mat-dialog-content> -->
    <mat-dialog-actions>
        <div style="margin: auto;">
            <div dir="rtl">
                <button type="button" class="btn btn-success" style="margin: 12px;">بله</button>
                <button type="button" class="btn btn-danger" mat-dialog-close style="margin: 12px;">خیر</button>
              </div>
        </div>
    </mat-dialog-actions>
    
</div>