<!-- LOGIN BOX -->
<div class="login-content box box-banner jumbotron" style="align-content: center;">
    <div class="grid-row">
      <div class="col-5 form-group" style="display: inline-block;">
        <label>نام کاربری</label>
        <input matInput type="text" class="form-control" name="username"  autofocus placeholder="نام کاربری" [(ngModel)]="username">
      </div>
    </div>
    <div class="grid-row">
      <br/>
      <div class="col-5 form-group" style="display: inline-block;">
        <label>رمز عبور</label>
        <div class="password">
            <div class="input-group-prepend">
              <span id="password-eye" style="position: absolute;padding-top: 7px;padding-left: 5px;">
                <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </span>
              <input matInput [type]="hidePassword ? 'password' : 'text'" class="form-control" name="password" placeholder="رمز عبور" aria-describedby="password-eye" [(ngModel)]="password">    
            </div>
        </div>
        <br/>
        <div class="col-12 button-ctnr" style="display: inline-block;">
          <button type="submit" mat-raised-button color="primary" style="float: left;transform: translate(-20%, 0%);">ورود</button>
        </div>
      </div>
    </div>
    <!-- <div class="grid-row">
      <div class="col-12 button-ctnr" style="display: inline-block;">
        <button type="submit" mat-raised-button color="primary" style="float: left;">ورود</button>
      </div>
    </div> -->
  </div>