.center {
    text-align: center;
}

.btn-background-color {
    background-color: darkblue;
}

::placeholder {
    font-weight: bold;
    color: black;
}

.login-content {
    padding-top: 10%;
}

.spinner {
    text-align: center;
}

.my-addon {
    width: 15px;
}