.center {
    text-align: center;
}

.btn-background-color {
    background-color: darkblue;
}

::placeholder {
    font-weight: bold;
    color: black;
}

.login-content {
    padding-top: 10%;
    // height: 100%;
    // width: 100%;
    // display: flex;
    // justify-content: space-around;
    // align-content: space-around;
    // flex-flow: row nowrap;
    // padding-left: 25px;
}

.spinner {
    text-align: center;
}

.my-addon {
    width: 15px;
}